/* Universal Styling */
body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.playwrite-header {
    font-family: "Playwrite ID", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
    font-size: 2rem;
    text-decoration: none;
}

.btn {
    color: #fff;
    background-color: #ff0157;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
    display: inline-block;
    transition: 0.5s;
    font-size: 1.25em;
}

/* Header | Navbar Styling */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.headerText {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
}

.headerTextHighlight {
    color: #ff0157;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 60%;
    font-size: 1.75rem;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
}

/* Banner Section Styling */
.banner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://i.postimg.cc/s29LNR86/bg.jpg");
    background-size: cover;
}

.banner .content {
    text-align: center;
    color: #fff;
    max-width: 900px;
}

.banner .content h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.banner .content p {
    font-size: 1.5em;
    margin-bottom: 10px;
}   

/* About Us Section Styling */
.row {
    display: flex;
    justify-content: space-between;
}

.col50 {
    width: 50%;
    padding: 40px;
}

.imgbx img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-section {
    font-family: "Inter", sans-serif;
    font-size: 1.3em;
    text-wrap: wrap;
    background-color: #F4F4F4;
}

.about-section p {
    margin-bottom: 20px;
    line-height: 1.5;
}

/* Our Menu Section Styling */
.menu-section,
.experts-section {
    padding: 100px;
    background-color: #f4f4f4;
}

.menu-content,
.experts-content {
    text-align: center;
    font-size: 1.25em;
}

.menu-card-container,
.experts-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-card:hover,
.expert-card:hover {
    transform: translateY(-10px);
}

.menu-card h4,
.expert-card h4 {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 600;
}

.menu-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    flex: 1 1 25%;
}

/* Kitchen Experts Section Styling */
.expert-card {
    width: 200px;
    /* height: fit-content; */
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    background: white;
}

/* ============================ */
/* Media Queries */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .col50 {
        width: 100%;
    }
}
